/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 */

 *{
   box-sizing: border-box;
  }

html,body{
  margin: 0;
  padding: 0;
  width: 100%;

  overflow-x: hidden;

}  

 @import "tailwindcss";  


 /* ---break---
 */  

 /* @custom-variant dark (&:is(.dark *));   */

 /* ---break---
 */  

 /* @custom-variant dark (&:is(.dark *)); */

 @font-face {
  font-family: 'yatra-one';
  src: url('./assets/YatraOne-Regular.ttf');
}

@theme{
  --font-yatra: 'yatra-one';

}
 @font-face {
  font-family: 'satoshi';
  src: url('./assets/Satoshi-Variable.ttf');
}

@theme{
  --font-satoshi: 'satoshi';

}
 @font-face {
  font-family: 'seriguel';
  src: url('./assets/MEISHASANSSERIF.ttf');
}

@theme{
  --font-seriguel: 'seriguel';

}
 @font-face {
  font-family: 'poppins';
  src: url('./assets/Poppins-Regular.ttf');
}

@theme{
  --font-poppins: 'poppins';

}

@theme inline{
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
  --animate-orbit: orbit calc(var(--duration)*1s) linear infinite
;
  @keyframes orbit {
  0% {
    transform: rotate(calc(var(--angle) * 1deg)) translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
      }
  100% {
    transform: rotate(calc(var(--angle) * 1deg + 360deg)) translateY(calc(var(--radius) * 1px)) rotate(calc((var(--angle) * -1deg) - 360deg));
      }
   }
  
      --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }
  
  }


/* ---break---
 */

/* ---break---
 */

/* @layer base {
  * {
    @apply border-border outline-ring/50;
   }
  body {
    @apply bg-background text-foreground;
   }
} */

@layer base {
  :root {
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
  }

  .dark {
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
  }
}