/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 */

 *{
   box-sizing: border-box;
  }

html,body{
  margin: 0;
  padding: 0;
  width: 100%;

  overflow-x: hidden;

}  

 @import "tailwindcss";  


 /* ---break---
 */  

 /* @custom-variant dark (&:is(.dark *));   */

 /* ---break---
 */  

 /* @custom-variant dark (&:is(.dark *)); */

 @font-face {
  font-family: 'yatra-one';
  src: url('./assets/YatraOne-Regular.ttf');
}

@theme{
  --font-yatra: 'yatra-one';

}
 @font-face {
  font-family: 'satoshi';
  src: url('./assets/Satoshi-Variable.ttf');
}

@theme{
  --font-satoshi: 'satoshi';

}
 @font-face {
  font-family: 'seriguel';
  src: url('./assets/MEISHASANSSERIF.ttf');
}

@theme{
  --font-seriguel: 'seriguel';

}
 @font-face {
  font-family: 'poppins';
  src: url('./assets/Poppins-Regular.ttf');
}

@theme{
  --font-poppins: 'poppins';

}

@theme inline{
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
  --animate-orbit: orbit calc(var(--duration)*1s) linear infinite
;
  @keyframes orbit {
  0% {
    transform: rotate(calc(var(--angle) * 1deg)) translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
      }
  100% {
    transform: rotate(calc(var(--angle) * 1deg + 360deg)) translateY(calc(var(--radius) * 1px)) rotate(calc((var(--angle) * -1deg) - 360deg));
      }
   }}

/* ---break---
 */

/* ---break---
 */

/* @layer base {
  * {
    @apply border-border outline-ring/50;
   }
  body {
    @apply bg-background text-foreground;
   }
} */